BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 120
PointerAlignment: Right
DerivePointerAlignment: false
AlignConsecutiveDeclarations: false
BreakBeforeBraces: Allman
SortIncludes: true
KeepEmptyLinesAtTheStartOfBlocks: false

BinPackArguments: false
BinPackParameters: false
