@import url('./pretendardStdVariable.css');

:root {
  --Header-minHeight: 2.3em;
  --knob-width: 6.5em;
  /* font-size: 4vh; */

  font-size: 3.2vh;
  letter-spacing: -0.007em;
}

body,
#root {
  height: 100dvh;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  -webkit-user-select: none; /* Chrome, Safari, iOS Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* 표준 */
  -webkit-touch-callout: none; /* 길게 누를 때 메뉴 금지 */
}
html body * {
  cursor: default;
}
