@import url("./pretendardvariable.css");

:root {
  --Background-Color: #242424;
  --Header-minHeight: 2em;
  --Footer-minHeight: 2em;
  /* font-size: 4vh; */
  font-size: 3vh;
  letter-spacing: -0.007em;
}

body, #root {
  height: 100dvh;
  padding:0;
  box-sizing: border-box;
  overflow: hidden;
}

.cursorDefault {
  cursor: default;
}