@import url("./pretendardvariable.css");

:root {
  --Header-minHeight: 2.3em;
  --knob-width: 6.5em;

  /* font-size: 4vh; */
  font-size: 3.2vh;
  letter-spacing: -0.007em;
}

body, #root {
  height: 100dvh;
  padding:0;
  box-sizing: border-box;
  overflow: hidden;
}

html body * {
  cursor: default;
}
